* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    text-align: center;
    background-color: #d5e1ef;
    height: 100%;
}

.container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #1f314f;
    margin: 1rem;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778d;
    margin: 1rem;
    padding-bottom: 0.8rem;
}

.attribution {
    font-size: 11px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0.2rem;
} 

.attribution a {
    color: #3e52a3;
}

@media (max-width:320px) {
    .container {
        width: 280px;
    }

    h1 {
        font-size: 20px;
        margin: 1rem 0.5rem;
    }

    p {
        font-size: 13px;
        margin: 0.8rem;
    }
}


